<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".ExampleApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".aidl.activity.AIDLActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".contacts.activity.ContactsActivity"
            android:label="@string/app_name">
        </activity>

        <service android:name=".aidl.service.LocalService">
            <intent-filter>
                <action android:name="aidl.service.local"/>
            </intent-filter>
        </service>

        <activity
            android:name=".lockscreen.activity.LockSreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 同步歌词 -->
        <activity
            android:name=".lyrics.activity.LyricsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name=".lockscreen.receiver.DeviceManagerBc">

            <!-- TODO: meta-data什么意思？ -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin"/>

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".socket.ClientActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 百度地图 -->

        <activity
            android:name=".location.activity.LocationActivity"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Glide -->
        <activity android:name=".glide.GlideActivity">
        </activity>

        <!--
        如果我们需要让一个服务在一个远端进程中运行（而不是标准的它所在的apk的进程中运行），我们可以在声明文件中
        这个服务的标签中通过android:process属性为其指定一个进程。
        而如果是android:process="remote"，没有“:”分号的，则创建全局进程，不同的应用程序共享该进程。
        -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fhOeQbKKxvVCGgRVRNvSeAVF"/>

        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56e938e667e58e57cf001423"/>

        <!--  -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity android:name=".update.CheckUpdateActivity">
        </activity>
        <activity
            android:name=".update.UpdateActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".update.UpgradeActivity">
        </activity>

        <service android:name=".update.UpdateService"/>

        <activity android:name=".download.DownloadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".animation.AnimationActivity">

        </activity>
    </application>

</manifest>